* {
    box-sizing: border-box;
}

.title {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.75em;
    text-align: center;
}

.content {
    font-family: Constantia, Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
    font-size: 1.25em;
    clear: right;
    padding: 0px;
    margin: 10px;
}

header {
    padding: 25px;
}

header .title {
    padding-bottom: 25px;
}

section {
    padding: 10px;
    float: left;
}

.wrapper {
    border: 1px solid black;
    margin: -1px;
    background-color: gray;
}

section .title {
    padding: 0px 20px 0px 20px;
    margin-bottom: 10px;
    display: inline-block;
    float: right;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.title#first {
    background-color: lightcoral;
    color: black;
}

.title#second {
    background-color: firebrick;
    color: white;
}

.title#third {
    background-color: burlywood;
    color: black;
}

@media (min-width: 992px) {
    section {
        width: 33%;
        width: 33.3333%;
        width: calc(100% / 3);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    section {
        width: 50%;
    }

    section#full {
        width: auto;
    }
}

@media (max-width: 767px) {
    section {
        width: 100%
    }
}